In [2]:
import pandas as pd
import numpy as np

In [3]:
df0=pd.DataFrame(np.arange(10))

In [4]:
df0

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [5]:
df1=pd.DataFrame(np.arange(12).reshape(3,4))
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [19]:
df1=pd.DataFrame(np.arange(12).reshape(3,-1),columns=['A','B','C','D'])
df1

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [21]:
df1.set_index(keys='D',inplace=True)
df1

    A  B   C
D
3   0  1   2
7   4  5   6
11  8  9  10

In [22]:
df1.index.name=None
df1

    A  B   C
3   0  1   2
7   4  5   6
11  8  9  10