In [1]:
import pandas as pd
import numpy as np

In [2]:
df0=pd.DataFrame(np.arange(10))

In [3]:
df0

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [4]:
df1=pd.DataFrame(np.arange(12).reshape(3,4))
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [5]:
df1=pd.DataFrame(np.arange(12).reshape(3,-1),columns=['A','B','C','D'])
df1

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [6]:
df1.set_index(keys='D',inplace=True)
df1

    A  B   C
D
3   0  1   2
7   4  5   6
11  8  9  10

In [7]:
df1.index.name=None
df1

    A  B   C
3   0  1   2
7   4  5   6
11  8  9  10

# Series
https://stackoverflow.com/questions/26047209/what-is-the-difference-between-a-pandas-series-and-a-single-column-dataframe

In [8]:
sr1=pd.Series(np.arange(12))
sr1

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
dtype: int64

In [9]:
sr1 != 1

0      True
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
dtype: bool

In [13]:
sr1=sr1.__getitem__(sr1 > 5)
sr1

6      6
7      7
8      8
9      9
10    10
11    11
dtype: int64

In [11]:
sr1 > 7

6     False
7     False
8      True
9      True
10     True
11     True
dtype: bool

In [14]:
s=pd.Series([1,2,3])

In [15]:
s

0    1
1    2
2    3
dtype: int64

In [17]:
s=s[[True,False,True]]

In [18]:
s

0    1
2    3
dtype: int64